{% extends 'base.html' %} {% block title %}Scoreboard - ctrlX developR
Challenge{% endblock %} {% block content %}
<div class="container mt-4" id="scoreboard">
  <div class="row">
    <h2 class="mb-4 border-bottom">Scoreboard</h2>
  </div>
  <div class="row">
    <!-- For Academia, group starts with A_ -->
    <!-- For Industry, group starts with I_ -->
    {% if current_user.id == 1: %}
    <div class="col-auto">
      <table class="table" id="scoreTable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Group</th>
            <th>Score</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          {%for user in all_users_data: %}
          <tr>
            <td>{{ user.ranking }}</td>
            <td>{{ user.group_name }}</td>
            <td>{{ user.total_score }}</td>
            <td>{{ user.total_duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else: %}
    <div class="col-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Group</th>
            <th>Score</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ current_user.group_name }}</td>
            <td>{{ score }}</td>
            <td>{{ duration }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
