<div class="container mt-3" id="sidebar">
  <div class="row">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <img
        class="img-fluid mb-4 mx-5"
        src="../static/assets/app-icons/ctrlx-plc-app-icon.png"
        alt=""
      />
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">ctrlX developR challenges</span>
    </a>
    <!-- <h2 class="border-bottom" id="letterx">
      ctrl<strong>X</strong> developR Challenges
    </h2> -->
  </div>
  <div class="row">
    <nav class="sidebar">
      <div class="container-fluid">
        <ul class="h5 navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'plc_challenge' }}"
              href="{{ url_for('plc_challenge') }}"
              >PLC App</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'opcua_challenge' }}"
              href="{{ url_for('opcua_challenge') }}"
              >OPC UA App</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'nodered_challenge' }}"
              href="{{ url_for('nodered_challenge') }}"
              >Node-RED App</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'motion_challenge' }}"
              href="{{ url_for('motion_challenge') }}"
              >Motion App</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'webiq_challenge' }}"
              href="{{ url_for('webiq_challenge') }}"
              >HMI WebIQ App</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.endpoint == 'ide_challenge' }}"
              href="{{ url_for('ide_challenge') }}"
              >IDE App</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
